.cabeca {
    padding: 2%;
    text-align: center;
    border: 3px solid #0a0a0a;
}
.cabeca p {
    text-align: left;
    margin: 0;
}

.between {
    box-sizing: border-box;
    padding: 45px;
}

.form-turma  {
    max-width: 250px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.form-turma .buttons, .form-criar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.vincular-docentes {
    margin-right: auto; /* Ajuste para alinhar à esquerda */
    margin-left: 0; /* Removido o deslocamento à esquerda */
}

.vincular-alunos {
    margin-left: auto; /* Ajuste para alinhar à direita */
}

/* Centralizando o botão criar */
.form-criar {
    max-width: 100%;
}

.botao-criar {
    width: fit-content;
    margin: 0 auto; /* Centraliza o botão */
}
