
.cabeca{
    padding: 2%;
    text-align: center;
    border: 3px solid #0a0a0a;
}
.cabeca p{
    text-align: left;
    margin: 0;
}

.between{
    box-sizing: border-box;
    padding: 45px;
}
h1 {
    margin-top: 0;
    font-size: 2em;
}

h2 {
    margin-bottom: 0;
    font-size: 1.5em;
}


  /* Estilizando o botão de usuário */
  .user-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.user-button img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.button_mais_container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px; /* Ajuste conforme necessário para distância do elemento acima */
}

.button_mais {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0%;

}


 /* Estilo básico para o formulário */
 .vinc_disc {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;

    border-radius: 5px;
}

/* Estilo para os campos de entrada */
.formLogin label {
    display: block ;
    margin-bottom: 2px;
}
